body{
    font-family: 'Montserrat', sans-serif;
    background-color:#00FF9A;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 300px; 
    max-height: 500px;
    background-size: 100%;
}





.project {
    z-index: -1;
    display: flex;
    justify-content: center;
}



  






*{
    margin: 0;
    
}
#angel{
    visibility: hidden;
}

#angel{
    border-radius: 70%;
    /* float: top; */
    justify-content: right;
    animation: mymove1 5s infinite;
    visibility: visible;
    width: 60px;
    margin-left: 5px;

}


h2 {
    /* background-color: rgba(194, 193, 193, 0.349);
    font-size: 14px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    color: #000000; */
}

#pHeader{
    padding-top: 50px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    font-size:100px;
    font-weight: 200;
    color: white;
}
h3 {
    color:rgb(0, 131, 78);
    padding-left: 8em;
    font-weight: 400;
}
h3:hover{
    color:white;
    font-weight: 500;
    transition: color .25s ease-in;
    transition: font-weight .25s ease-in;

}
#VP{
    padding-left:9em;

}

#port{
    padding-left:10em;
}
span1{
    padding-left: 1em;
    color:rgba(255, 255, 255, 0.788);

}
p{
    text-indent: 1em;
    font-weight: bolder;
}
        
main{
    max-width: 800px;
    margin: 0 auto;
}
header{
    padding: 7em 11em;
    padding-bottom: .5em;
    color: rgb(148, 140, 140);
    background-color:rgba(78, 0, 130, 0.116);
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

    /* margin:  auto 0; */
}
header:hover{
    color:  rgba(75, 73, 73, 0.788);
    
}

header h1{
    font-size: 24px;
    display: flex;
    flex-flow: row;
    justify-content: top;
    margin-left: 15px;
    padding-left:450px; 
    margin-top: 10px;
    font-weight: 200;
}

h1{
    margin-left: 15px;
}

span{
    margin-left: 15px;
}
header span{
    margin-top: 15px;
    font-weight: 100;
    margin-left: 15px;
    font-size: 24px;
    display: flex;
    flex-flow: row;
    justify-content: left;
    text-shadow: 1.5px 1px 1px white;
}

#line{
    border-left: 1px solid black;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 110px;
}




/* header span:hover{
    font-size: 2em;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    color: rgb(68, 68, 68);
}
 */

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    flex-flow: row;
    background-color: white;
    z-index: 2;
    color:#00FF9A;
    
}
nav a{
    font-weight: 200;  
    color:#00FF9A;
    text-decoration: none;
    background-color: transparent;
    
}



section{
    margin: 1em 0;
    padding-top: 3em;
    min-height: 20em;
}

#pImg{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    height: 250px;
    /* width:600px; */
}

article a{
    text-decoration: none;
    /* font-weight: 200; */
}
article{
    background-color: rgba(78, 0, 130, 0.116);
    padding: .5em 1.6em;
    

    /* margin-right: 1em; */

}

#n_Bttn {
    margin-right: 1em;
    /* font-weight: 100; */
    cursor: pointer;
    position: relative;
    font-size: 20px;
    /* padding: 8px 25px; */
    z-index: 0;
    overflow: hidden;
    border: 0;
    background-color: transparent;
    height: 50px;
    /* color:#00FF9A; */
    margin-top: 0px;
    padding-left: 10px;
    padding-top: 19px;
    padding-right: 10px;
    font-weight: 400;
}


#n_Bttn a{
    /* font-weight: 100;   */
    
    
}

#n_Bttn:hover{
    background-color:#00FF9A;
    color: white;
    font-weight: 400;
    border: solid 1px white;
    transition: background-color .50s ease-in;

    /* border-radius: 90px; */
    
}




#n_Bttn a:hover {
    background-color:#00FF9A;
    color: white;
    font-weight: 400;
    
    
    

}




.projects article{
    padding: 1em;
    width: 100%;
    
    
}

#Projects
{
    border:solid 1px rgb(255, 255, 255);
    display: flex;
    flex-flow: row;
    
}


.project{
    width: 800px;
}


section > p {
    margin: 1em 0;
    font-size: 17px;
    
}

p2{
    font-size: 20px;
    color: rgb(0, 131, 78);
    
}
#p2Con{
    padding-top: 5em;
}
#tiHeader{
    font-size: 70px;
    font-weight: 200;
    display: flex;
    flex-flow: row;
    justify-content: center;
    color: rgb(0, 131, 78);
    display: flex;
    justify-content: center;
    
}
#skills{
    padding-top: 0;
    margin: 0;
    margin-left: 20px;
    padding-bottom: 7em;
}

#contactMe{
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0.479);
    margin:0;
    padding-top: 0;
    padding-bottom: 5em;
    
}

#cmHeader{
    font-size: 70px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    color: rgb(0, 131, 78);
    font-weight: 200;
}

#contact{
    color: white;
    outline: none;
    padding-top: 5em;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.fa-github:hover{
    color: rgba(17, 17, 17, 0.925);
}
.fa-linkedin:hover{
    color:#0077B1

}

#c_Btn{
    outline: none;

    padding-left: 3em; 
    background-color: transparent;
    border:0;
    
}
.fa-phone{
    font-size: 3em;
}
.fa-github, .fa-linkedin, .fa-phone, .fa-envelope, .fa-file{
    color: white;
    outline: none;
  
}
header h3 {
    display: flex;
    flex-flow: column;
    justify-content: right;
} 



ul li{
    list-style-type: none;
    display: flex;
    justify-content: center;

}


footer{
    background-color: rgb(245, 245, 245);
    color: #00FF9A;
    font-synthesis: weight;
    font-size: 20px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding-top: 1.5em;
    min-height: 2em;
}




@keyframes mymove {
 50% {box-shadow: 10px 10px 20px rgba(95, 91, 91, 0.726);}
}

@keyframes mymove1 {
    40% {box-shadow: 5px 10px 20px rgba(71, 70, 62, 0.623);}
   }


   /* /////////////////////////////////////////////////////////// */



