/* ///////////////Slideshow///////////// */


.ss_Container {
    max-width: 500px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    z-index: 1;

    
}
.project {
    z-index: -1;
    display: flex;
    justify-content: center;
}



  

.text {
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #D4D4D4;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    display: flex;
    justify-content: center;
}
  
.next {
    right: 0;
}

.prev{
    left: 0;
    
}
.prev:hover, .next:hover {
    /* background-color: rgba(209, 0, 63, 0.699); */
}

#shaded{
    background: #0000005d;
    z-index: 1;
    padding: 10px;
    width: 800px;
    /* display: flex;
    justify-content: center; */
    text-align: center;
    
}




*{
    margin: 0;
    
}
body{
    background-color:#00FF9A;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 300px; 
    max-height: 500px;
    background-size: 100%;
}
#angel{
    visibility: hidden;
}

#angel{
    border-radius: 70%;
    /* float: top; */
    justify-content: right;
    animation: mymove1 5s infinite;
    visibility: visible;
    width: 80px;

}


h2 {
    background-color: rgba(194, 193, 193, 0.349);
    font-size: 14px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    font-family: 'Bungee Hairline', cursive;
    color: #000000;
}

h3 {
    color: #000000;
}

p{
    text-indent: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
        
main{
    max-width: 800px;
    margin: 0 auto;
}
header{
    font-family: 'Roboto', sans-serif;
    padding: .40em 11em;
    color: rgb(148, 140, 140);
    background-color:rgba(255, 255, 255, 0.5);
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 3.17rem auto 0;
}
header:hover{
    color:  rgba(75, 73, 73, 0.788);
    font-family: 'Roboto', sans-serif;

    font-style: italic;
}

header h1{
    font-size: 24px;
    display: flex;
    flex-flow: row;
    justify-content: top;
}

header span{
    font-size: 24px;
    display: flex;
    flex-flow: row;
    justify-content: left;
    text-shadow: 1.5px 1px 1px white;
}

#line{
    border-left: 1px solid black;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 110px;
}




/* header span:hover{
    font-size: 2em;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    color: rgb(68, 68, 68);
}
 */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: left;
    background-color: transparent;
    font-weight: bolder;  
    font-family: 'Bungee Hairline', cursive;

}
nav a{
    
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}



section{
    margin: 1em 0;
    padding-top: 3em;
    min-height: 20em;
}



#n_Bttn {
  margin-right: 1em;
  font-weight: bolder;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  font-family: 'Bungee Hairline', cursive;
  padding: 0;
  z-index: 0;
  overflow: hidden;
  border: 0;
  background-color: transparent;
  

  
  

}
#n_Bttn:hover {
    

  

}

#aboutMe {
    /* display: block;
    height: 200px;
    background-color: #D1003E;
    width: 800px; */
}

\

.projects article{
    padding: 1em;
    width: 100%;
    font-family: 'Roboto', sans-serif;
 

}

#projects{
    z-index: -1;

}
.project{
    width: 800px;
}


section > p {
    margin: 1em 0;
    font-size: 17px;
    
}

#contactMe{
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    
}
header h3 {
    display: flex;
    flex-flow: column;
    justify-content: right;
} 

header p2 {

}

ul li{
    list-style-type: none;
    display: flex;
    justify-content: center;

}


footer{
    background-color: rgba(245, 245, 245, 0.664);
    color: rgb(119, 117, 117);
    font-synthesis: weight;
    font-size: 20px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding-top: 1.5em;
    min-height: 2em;
}




@keyframes mymove {
 50% {box-shadow: 10px 10px 20px rgba(95, 91, 91, 0.726);}
}

@keyframes mymove1 {
    40% {box-shadow: 10px 20px 30px rgba(71, 70, 62, 0.623);}
   }


   /* /////////////////////////////////////////////////////////// */