*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    
}
.angel {
    border-radius: 80%;
    float: top;
    animation: mymove 5s infinite;
}

h2,h3,h4,h5{
    color: whitesmoke;
    background-color: rgba(194, 193, 193, 0.349);
    font-size: 34px;
    display: flex;
    flex-flow: row;
    justify-content: center;
}
main
{
    max-width: 800px;
    margin: 0 auto;
}
header{
    padding: 18em 20em;
    color: rgb(148, 140, 140);
    background-image: url(images/spotlight.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 3.17rem auto 0;
    max-height: 12rem;
    height: 12rem;
}
header:hover{
    background: transparent;
    color:  rgba(148, 140, 140, 0.568);
    font-style: italic;
}

header h1{
    font-size: 4em;
    display: flex;
    flex-flow: row;
    justify-content: center;
}
header span{
    font-size: 2em;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    text-shadow: 1.5px 1px 1px white;
}
body{
    background-image: url("images/light.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 300px; 
    max-height: 500px;
    background-size: 100%;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.664);
}
nav a{
    padding: 1em .5em;
    color: rgb(160, 160, 160);
    text-decoration: none;
}

nav a:hover{
    background:white;
    animation: mymove 5s infinite;
}

main{
    max-width: 800px;
    margin:0 auto;
}

section{
    margin: 1em 0;
    padding-top: 3em;
    min-height: 20em;
}

h6,h7,h8, a:hover{
    text-decoration: none;
    
}
h6,h7,h8 a{
    padding: 1em .5em;
    color: rgba(207, 206, 206, 0.356);
    
}

h6,h7,h8{
    font-size: 25px;
    color: rgb(100, 83, 73);
    
}

#prompt {
    animation: mymove1 5s infinite; 
    display: flex;
    color: rgba(148, 140, 140, 0.568);
    background-color: transparent;
    border: none;
    justify-content: center;
    font-size: 2em;
    font-style: bold;
    border-radius: 50%
    
}

#promptResponse{
    display: flex;
    color: rgba(148, 140, 140, 0.568);
    font-size: 1.5em;
    
}
#projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
    justify-content: center;
    font-size: 25px;
    text-align: center;
    /* box-shadow: 5px 10px; */
    
    
}

#projects article{
    padding: 1em;
    width: 100%;
 

}


section > p {
    margin: 1em 0;
    font-size: 17px;
    
}

#contactMe{
    font-size: 17px;
    
}


footer{
    background-color: rgba(245, 245, 245, 0.664);
    color: rgb(119, 117, 117);
    font-synthesis: weight;
    font-size: 20px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding-top: 1.5em;
    min-height: 2em;
}
@keyframes mymove {
 50% {box-shadow: 20px 30px 40px rgba(95, 91, 91, 0.726);}
}

@keyframes mymove1 {
    40% {box-shadow: 10px 20px 30px rgba(95, 91, 91, 0.527);}
   }